{% extends 'base.html.twig' %}

{% block body %}
<div class="main">
        <div class="slider">
            <img src="https://placehold.co/1280x587" style="width:100%" />
        </div>
</div>
{% endblock %}
