{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <div class="container my-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-warning">Traduire</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
