{% extends 'base.html.twig' %}
{% form_theme form 'form/theme/_form_theme.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <div class="container my-5">
        {{ form_start(form) }}
        <div class="form-content">
            {{ form_widget(form) }}
            <div id="drop_zone"
                 ondrop="dropHandler(event);"
                 ondragover="dragOverHandler(event);">
                <p>{{ 'drop'|trans }}</p>
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Traduire</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
