{% trans_default_domain 'admin' %}
 <ul class="menu">
        <a class="" href="{{ path('admin_article_index') }}">
            <li><i class="fa-regular fa-newspaper"></i> {{ 'nav.article'|trans }}</li>
        </a>
        <a href="{{ path('admin_membre_index') }}">
            <li><i class="fa-group fa-newspaper"></i> {{ 'nav.team'|trans }}</li>
        </a>
    </ul>
