body {
    background-color: lightgray;
}


/* form */

.form-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.select-opt option, .select-opt select{
    width: 100%;
    padding: 1rem 0.5rem;
    -webkit-appearance: none;
    border-radius: 5px;
    border: grey solid 0.5px;
}

.select-opt label{
    font-size: 0.8rem;
    color: darkgray;
}

.select-opt select{
    margin-bottom: 1rem;
}

.file input{
    display: none;
}

#drop_zone{
    margin-left: 2rem;
    width: 40%;
    border: 2px dashed darkgray;
    border-radius: 10px;
    padding: 3rem;
}

form {
    text-align: center;
}

form button{
    margin-top: 4rem;
}
