@font-face {
    font-family: "CodeLatin";
    src: local("Trickster"), url("/assets/fonts/MPLUSCodeLatin.ttf") format("opentype")
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    background: rgb(38,3,94);
    background: linear-gradient(90deg, rgba(38,3,94,1) 0%, rgba(9,6,69,1) 25%, rgba(71,20,154,1) 100%);
    color: lightgrey;
}

.container{
    text-align: center;
}

.content{
    padding: 2rem;
}

h1{
    font-family: 'CodeLatin', 'sans-serif';
    padding: 0rem 0 5rem 0;
    margin: auto;
    display: inline-block;
}

/* form */

form {
    text-align: center;
}

.form-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
.select-opt option, .select-opt select{
    width: 100%;
    padding: 1rem 0.5rem;
    -webkit-appearance: none;
    border-radius: 5px;
    border: grey solid 0.5px;
}

.select-opt label{
    display: none;
    font-size: 0.8rem;
    color: darkgray ;
}

.select-opt select{
    margin-bottom: 1rem;
}

.file{
    display: none;
}

#drop_zone{
    margin-left: 2rem;
    width: 40%;
    border: 2px dashed darkgray;
    border-radius: 10px;
    padding: 3rem;
}

#drop_zone:hover{
    cursor: pointer;
}

.btn-form{
    margin-top: 4rem;
    padding : 1rem 2rem;
    background-color: lightgrey;
    color: black;
    border-radius: 20rem;
}

.btn-form:hover{
    background: linear-gradient(90deg, rgb(100, 20, 154) 0%, rgb(71, 20, 154) 58%, rgb(100, 20, 154) 93%);
    color: lightgrey;
}

.file-name{
    font-size: 0.9rem;
    color: darkgray;
}

.checkbox{
    padding: 2rem 0 0 0;
}

.form-error{
    font-size: 0.7rem;
    color: #f63e3e;
}

.form-error li{
    list-style: none;
}

.div-message{
    background: linear-gradient(90deg, rgb(100, 20, 154) 0%, rgb(71, 20, 154) 58%, rgb(100, 20, 154) 93%);
    color: lightgray;
    padding: 1rem;
    border-radius: 35px;
    margin-bottom: 3rem;
}

.div-message p{
    margin: 0;
}

/* loader */
.loader {
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.21);
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: -1;
    padding: 0;
    margin: 0;

}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}

.ready{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.ready a{
    max-width: 30%;
}

.ready .link{
    color: lightgrey;
    text-decoration: none;
    padding-top: 6rem;
    bottom: 1rem;
}

.loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
}


footer{
    padding: 3rem;
    background-color: rgba(76, 43, 93, 0);
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }
    33% {
        content: 'Loading.';
    }
    67% {
        content: 'Loading..';
    }
    100% {
        content: 'Loading...';
    }
}

@media only screen and (max-width: 1000px){
    
    .container{
	    max-height : 1000px;
	    height: 100%;
        width: 100%;
    }
    .form-content{
        flex-direction: column !important;
    }

    #drop_zone{
        width: 80%;
    }
    .checkbox{
        padding: 2rem 0;
    }

    .ready a{
        max-width: 90%;
    }
}
