.image-container{
    position: relative;
}

.profile-container{
    display: flex;
}

.profile-picture{
    width: 50%;
}

.profile-picture .image-container{
    margin: auto;
    width: 300px;
    height: 300px;
}

.add-realisation{
    background-color: lightgrey;
    text-align: center;
}

.add-realisation i{
    color: #606060;
    padding: 5rem;
    font-size: 6rem;
}

.add-realisation:hover{
    cursor: pointer;
    background-color: #606060;
}

.add-realisation:hover i{
    color: lightgrey;
}

.realisation-container, .profile-container{
    padding: 2rem 0;
}


.profile-container form{
    width: 100%;
    display: flex;
}

.profile-edit{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-edit .btn-submit{
    margin: 2rem 0;
}

.form-input-username{
    text-align: center;
}

.form-input{
    margin-top: 1rem;
}

.image-container .fa-pen{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

